body{
    background-color: black;
    margin: 0;
    padding: 0;
}
.section{
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_list{
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav_list_item{
    display: inline-block;
    padding: 12px 34px;
    font-size: 3rem;
}
.nav_list_item a{
    color: #fff;
    text-decoration: none;
    padding: 0px 10px;
}
