// @import 'variable';
// @import 'mixin';
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    font-family: 'segoe ui';
    background-color: #D5CDCC;
    .nav {
      width: 100%;
      background-color: $c_green;
      position: relative;
      .nav-btn{
        @include all_btn;
      }
      .nav-title{
            text-decoration: none;
            color: $c_dark;
      }
    }
  }
  