ul{
    list-style: none;
}
a{
    text-decoration: none;
}
ul
{
    display: flex;
    position: relative;
}

ul li {
    display: inline-block;
	position:relative;
    padding: 20px 40px;
   
}
ul li a{
    font-size:18px;
    color:#333;
}

ul li:before
{
    content: "";
    position: absolute;
    height: 4px;
    width: 120px;
    background-color: black;
    left: 0;
    bottom: 0px;
    transition: 0.4s;
    opacity: 0;
}

ul li.active:before
{
    opacity: 1;
}
