// Film Info
.sd_film_artists_section{
    @include border_bottom_black;
    .sd_inner_container{
        @include mediaQuery($ipad) {
            padding: 0;
        }
    }
}
.sd_film_artists_sec{
    @include flex;
    @include mediaQuery($ipad) {
        @include flex_dir_column;
    }
    .sd_film_artists_wpr{
        max-width: 740px;
        width: 100%;
        &:first-child{
            border-right: 2px solid $black;
            @include mediaQuery($ipad) {
                border-right: 0;
            }
        }

        @include mediaQuery($ipad) {
            padding-right: 17px;
            padding-left: 18px;
        }
    }

}
// Header
.sd_film_artists_header{
    padding: 52px 0 27px;
    @include mediaQuery($mobile) {
        padding: 74px 0 26px;           
    }
    h2{
        @include mediaQuery($ipad) {
            @include mediaFontStyle(36, 40);              
        }
    }
}
// Meet Artist
.sd_film_artists_meet{
    padding: 0 93px 152px 0;
    @include mediaQuery($large) {
        padding: 0 40px 100px 0;
    }
    @include mediaQuery($ipad) {
        padding: 0 0 50px 0;
        @include border_bottom_black;
    }
    
    .sd_panelist_block{
        max-width: 100%;
        margin-bottom: 65px;
        &:after{
            content: '';
            clear: both;
            display: table;
        }
        @include mediaQuery($mobile) {
            margin-bottom: 35px;     
        }
        // .sd_panelist_img_inner{
        //     margin-bottom: 0;
        // }
    }
}

// Credits
.sd_film_artists_credits{
    padding: 0 0 30px 84px;
    @include mediaQuery($large) {
        padding: 0 0 15px 40px;
    }
    @include mediaQuery($ipad) {
        padding-left: 0;
    }

    .sd_film_artists_header{
        @include mediaQuery($mobile) {
            padding: 42px 0 34px;           
        }
    }

    .sd_film_artists_credits_sec{
        max-width: 645px;
    }
    ul{
        margin-bottom: 35px;
        &:last-child{
            margin-bottom: 0;
        }
        @include mediaQuery($mobile) {
            margin-bottom: 26px;         
        }
    }
    li{
        @include flex;
        list-style: none;
        // &.sd_credit_link{
            // @include f_wrap;
        // }
        .sd_film_artists_cr_pos{
            @include defaultFontStyleFpg($font_family_medium, 18, 26, $black);   
            letter-spacing: -0.43px;  
            display: block;
            max-width: 226px;
            width: 100%;
            margin-right: 23px;
            @include flex_shrink;
            @include mediaQuery($large) {
                max-width: 180px;
            }
            @include mediaQuery($mobile) {
                @include mediaFontStyle(13.61, 19.66);   
                letter-spacing: -0.33px;
                max-width: 154px;
            }
        }
        .sd_film_artists_cr_name{
            p, a{                
                @include defaultFontStyleFpg($font_family_normal, 18, 26, $black);   
                letter-spacing: -0.43px; 
                word-break: break-all;
                @include mediaQuery($mobile) {
                    @include mediaFontStyle(13.61, 19.66);   
                    letter-spacing: -0.33px;
                } 
            }
            .sd_credit_link_title{
                color: #1351dc;
                word-break: break-all;
            }
            // a{
            //     @include LimitLineText(1);
            //     max-width: 396px;
            //     width: 100%;
            //     word-break: break-word;
            // }
        }
    }
}
.sd_film_artists_video{
    padding-bottom: 50px;
    border-bottom: 2px solid $black;
    margin-bottom: 50px;
    &:last-child{
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: 0;
    }
}
// Video
.sd_video_frame_wpr{
    .sd_video_frame{
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        iframe{
            position: absolute;
            top: 0;
            left: 0;
            @include square(100%);
            border: none;
        }
    }
}

// Connect with film
.sd_connect_film_section{
    background: $pink;
    .sd_connect_film_sec{
        @include flex_align_center;
        padding: 20px 0;
        @include mediaQuery($large) {
            @include f_wrap;
        }
        h2{
            margin-right: 100px;
            @include mediaQuery($large) {
                margin: 0 100px 20px 0;
            }
        }
    }
    .sd_connect_film_wpr{
        li{
            list-style: none;
            padding: 11px 0;
        }
        a{
            @include flex_align_center;
            @include defaultFontStyle(500, 22, 22, $black);   
            letter-spacing: -0.53px; 
            @include mediaQuery($ipad) {
                font-size: 18px;
            }
            .sd_connect_film_mail{
                margin-right: 18px;
                @include mediaQuery($ipad) {
                    width: 24px;
                }
            }
            .sd_connect_film_arrow{
                margin-left: 12px;
                width: 14px;
            }
        }
    }
}

// Sponsors
// .sd_sponsors_film_info_section{

//     @include mediaQuery($mobileSmall) {
//         background: url('/program/images/film_info_bg2.png'), $purple;
//         background-repeat: no-repeat;
//         background-position: 100% -72px;
//         background-size: contain;
//     }
//     @include mediaQuery(370px) {
//         background: $purple;
//     }
// }