// Sponsors page
.sponsors{
    .sd_header_section{
        background: url("/program/images/header_bg.png"), $pink;
        @include border_bottom_black;
        background-size: 100% 100%;
        background-position: 0 -2px;
        background-repeat: no-repeat;
        padding-bottom: 80px;
        @include mediaQuery($large){
            padding-bottom: 70px;
        }
        @include mediaQuery($ipad){
            background-size: cover;
        }
    }
    .sd_hero_header{
        .sd_inner_container{
            padding-left: 60px;
            @include mediaQuery($ipad){
                padding-left: 15px;
            }
        }
        .sd_rtf_content{
            @include rtf_content;
        }
    }
}
.sd_sponsors_page{
    .sd_view_all_sponsors{
        display: none;
    }
    .sd_sponsored_section{
        border-top: 0;
        padding: 70px 0;
        @include mediaQuery($ipad){
            padding: 40px 0;
        }
    }
}