body{
    margin: 0;
    padding: 0;
}
/* .home-area{
    background-image: url(img/dark.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position:center center;
} */