*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container
{
    max-width: 800px;
    margin: 20px auto;
}
.list
{
    display: block;
    padding: 5px;
    width: 100%;
    /* max-width: 430px; */
    margin: auto;
}


input[type=text] {
    width: 85%;
    border: none;
    border-bottom: 2px solid #000;
    background : none;
    padding: 10px;
    outline: none;
    font-size: 18px;
}
.add
{
    background-color: black;
    border: none;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
}
tr{
    width: 100%;
    background-color:navajowhite ;
    padding: 10px;
    margin: 5px 0;
    font-size: 18px;
    font-weight: bolder;
}
th,td{
    padding: 10px;
    text-align: center;
}

table
{
    margin-top: 50px;
    width: 100%;
}
.btn-delete
{
    background-color: black;
    border: none;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
}
.btn-edit
{
    background-color: black;
    border: none;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
}

.modal {
    /* display: none; */
    position: fixed;
    z-index: 1;
    /* padding-top: 100px; */
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }