$regular_font:'Gilroy';

// color
$c_orange_color:#E02B20;
$c_dark:#262D3F;
$c_primary:#778591;
$c_secondary:#E9E5E5;
$c_light:#EEF1F6;
$c_white:#ffffff;
$c_yellow:#FFC100;
$c_green:#00B14F;


// font size
$f_xlarge:30px;
$f_large:18px;
$f_medium:16px;
$f_small:14px;