$white: #ffffff;
$black: #000000;
$text2: #929292;
$text3: #292929;
$lightgray:#969696;
$link_blue:#1A84D0;
$text:#555555;
$disableGrey : #8D8D8D;
$disabletext:#E1E0E0;
$headingbg:#EBEBEB;
$bglightblack:#292929;
$cancle:#D01A1A;
$yellowcircle: #FED105;
$activeBg:#FFCC09;
$btndef:#E0E0E0;
$inputbg:#F7F7F7;
$inputbg2:#DFDFDF;
$lynxWhite: #F7F7F7;
$inputbgDark:#d5d5d5;
$border2:#C4C4C4;
$success:#318c0c;
$error:#ff0000;
$secondary:#CE0000;
$secondary2:#DF0000;
$disable:#CDCDCD;
$btnbg:#f5f5f5;
$lightPink:#ff624b;
$darkpink:#C01A7D;
$resetcolor:#FF4841;


$lightPinkBtn:#FF625A;
$labelText:#A2A2A2;
// Font family

$fontsmlight : "LaNordV21-SemiLight";
$fontlight : "LaNordV21-Light";
$fontreg : "Pangea";
$fontMed : "LaNordV21-Medium";
$fontbold : "LaNordV21-Bold";

$themegreen:#589167;


// Colors
$purple: #7758B3;
$darkGreen: #146E96;
$lightGreen: #65FADC;
$yellow: #FFB30F;
$yellowish: #FED105;
$pink: #FF625A;
$lightGrey: #C2C2C2;
$lighterGrey: #C9C9C9;
$darkGrey: #9A9A9A;
$switchBG: #F1F1F1;
$red: #E74C3C;
$lightRed: #FE766F;
$redpink:#FF4841;
$whisper: #ECECEC;
$whisper2: #E9E9E9;
$trinidad: #D22846;
$brownred:#D01A1A;
$borderActive:#ef4c46;
$nobel: #A2A2A2;
$blackgrya:#494949;
$blackdarkgray:#292929;
$gainsboro: #E1E0E0;
$whiteSmoke: #F6F5F5;
$cream: #FFFFCC;
$darkyellow:#F6CC46;
$darkred:#FF4841;
$skycolor:#1A84D0;
$lynxWhite2:#F5F5F5;
$lightYellow:#FFCC09;
$yellowligth:#FFC52B;
$yellodark:#FFCB05;
$darkorange:#FF9408;
$lygreen:#04AC80;
$lightpopty:#59CD25;
$lydarkgreen:#00B2C0;
$falsa:#C01A7D;
$disableGrey:#8D8D8D;
$border_tab:#D8D8D8;

//fonts
$font_family_normal:'MonumentGrotesk_Regular';
$font_family_bold:'MonumentGrotesk_Bold';
$font_family_medium:'MonumentGrotesk_Medium';
$font_family_light:'Trade Gothic Next LT Pro';
$gothicreg : "Pangea";
$gothicreg : "TradeGothicLT-Extended";

// Breakpoints for Media Query
$smallMobile: 325px;
$mobileSmall: 375px;
$mobile: 479px;
$mobileLarge: 576px;
$ipad: 768px;
$large: 991px;
$extraLarge: 1024px;
$desktop: 1366px;
$desk:1440px;
$smalldesk:1080px;
$tablet:700px
